@import 'tailwindcss';

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #10b981;
  --color-surface: #ffffff;
  --color-app-bg: #f9fafb;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--color-app-bg);
  color: #111827;
  -webkit-font-smoothing: antialiased;
}
